.header-glass {
    background-image: url("../images/glassmuseum.jpeg");
    background-size: cover;
    height:100vh;
    display: flex;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 150px 15px;
}

header .header-glass-inner h1{
    color: #fff;
    margin: 0;
    text-shadow: 2px 2px 10px black;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    vertical-align: middle; */
}

.about {
    background-color: #343A40;
    height:100vh;
    display: flex;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}